@charset "UTF-8";

:root{
    cor01:#DDB794;
    cor02:#D79250;
    cor03:#A36E3C;
    cor04:#573A20;
    cor05:#57483A;
}

body{
    background-color: black;
    margin: 0px;
}

header{
    background-image: url(imagens/cookie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    max-width: 100vw

    
}

main{
    color: aliceblue;
}

#sobre{
    background-color: #DDB794;
}

footer{
    color: #ffff;
}